.navbarMain{
    display: flex;
    flex-direction: column;
    background-color: #b6ef70;
    border-radius: 20px;
    padding-top: 10px;
    /* display: flex;
    gap: 50px;
    font-size: medium;
    align-items: center; */
}
.navbar-logo{
    
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    font-size: x-large;
    border-radius: 10px;
}
/* .navbar-logo {
    display: flex;
    gap: 10;
    
} */
.navbar-light{
    display: flex;
    justify-content: center;

}
.navbar-light h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arial', cursive;
}
.navbar-logo-img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 0 0 0 2px #fff;
}

