.navbar-main{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#a95fde,#6a09b0);
    border-radius: 5px;
    padding-top: 10px;
    /* display: flex;
    gap: 50px;
    font-size: medium;
    align-items: center; */
}
.navbar-logo{
    
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    font-size: x-large;
    border-radius: 10px;
    justify-content: space-around;
}

.navbar-light{
    display: flex;
    justify-content: center;
    background-color: azure;

}
.navbar-light h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arial', cursive;
}
.navbar-logo-img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 0 0 0 2px #fff;
}
  .navbar-buttons{
    margin: right 10px;;
    float: left;
    font-weight: 300;
    justify-content: space-between;

 }
 .btn-home{
    border-radius: 5px;
    margin-right:5px ;

 }
 .btn-about{
 border-radius: 5px;
 margin-right:5px ;
 }
 .btn-contact-us{
 border-radius: 5px;
 margin-right:5px ;
 }
 .btn-highlights{
 border-radius: 5px;
 margin-right:5px ;
 }