.footer-small{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}
.footer-small p{
     display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
  justify-content: center;  
}